In [3]:
import pandas as pd

df = pd.read_csv("C:/Users/Lea/Desktop/LeaIntern/AD/clean_SNP_files/user1075_file550_yearofbirth_1963_sex_XX.23andme.txt.csv", low_memory=False)
print(df.info())
df.to_parquet("C:/Users/Lea/Desktop/LeaIntern/AD/clean_SNP_files/user1075_TESTPARQUETT_user1075")
print("DONE.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13724422 entries, 0 to 13724421
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   rsid      object
 1   position  int64
 2   genotype  object
dtypes: int64(1), object(2)
memory usage: 314.1+ MB
None
DONE.

In [4]:
df = pd.read_parquet("C:/Users/Lea/Desktop/LeaIntern/AD/clean_SNP_files/user1075_TESTPARQUETT_user1075")

df

                 rsid  position genotype
0         rs548049170     69869       TT
1           rs9283150    565508       AA
2         rs116587930    727841       GG
3           rs3131972    752721       GG
4          rs12184325    754105       CC
...               ...       ...      ...
13724417     i4000757     16526        G
13724418     i4990307     16527        C
13724419     i4000756     16540        C
13724420     i4000755     16548        C
13724421     i4000759     16567        A

[13724422 rows x 3 columns]